<!doctype html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://avatars2.githubusercontent.com/u/4430336?s=280&v=4">

    <title>%title%</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/product/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="style/products.css" rel="stylesheet">

    <!-- Main Css -->
    <link href="style/style.css" rel="stylesheet">
</head>

<body>
<!--<div class="header_content">
    %header%
    <img src = "%pathImage%" alt = "obrazek" class="img"/>
</div>-->
<nav class="mobile site-header sticky-top py-2">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2  d-md-inline-block" href="index.php">%button1%</a>
        <a class="py-2  d-md-inline-block" href="?page=Aplikacje_acces">%button2%</a>
        <a class="py-2  d-md-inline-block" href="?page=Kurs_sql">%button3%</a>
        <a class="py-2  d-md-inline-block" href="?page=Kurs_access">%button4%</a>
    </div>
</nav>

