<div class="jumbotron jumbotron_modif">
    <h1 class="display-8 fontDownloadAppName colorNameAppDow">%application_name%</h1>
    <hr class="my-4">
    <p class="display-8">%app_description%</p>
    <div class="app video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/%app_video%"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
        </iframe>
    </div>
    <div class="app">
        <button type="button" class="btn btn-primary" onclick="location.href='%link_app%'">Pobierz</button>
    </div>
</div>